body {
	font-family:helvetica;
}

img {
	border:none;
}

#wrapper {
	position:relative;
	width:100%;
	margin: -8px 0px 0px -8px;
}

a {
	text-decoration:none;
}

#header {
	background-color:#872B0C;
	width:100%;
	padding:5px 5px 5px 5px;
	margin: 0px 0px 0px 0px;
	border: none;
}

#header h1 {
	color:white;
}

a#toggle_instr {
	background-color: #EF7A51;
	padding: 3px 5px 3px 5px;
	margin: 2px 2px 2px 2px;
	-moz-border-radius: 15%;
	-webkit-border-radius: 15%;
	border-radius: 15%;
	border: 2px solid #5F1F09;
	color:white;
	width:80px;
	text-align:center;
}

a#toggle_instr:hover {
	border-color:white;
	border-width:2px;
}

#social {
	position:absolute;
	top:40px;
	right:10px;
}

#instructions {
	display: none;
	width:100%;
	padding:5px 5px 5px 5px;
	line-height: 22px;
}

#enterchords {
	float:left;
	background-color:#E5E2B9;
	border:1px solid #C8C36E;
	width:49%;
	height:750px;
	padding: 5px 5px 5px 5px;
}

#chord_selector td {
	cursor:pointer;
	padding:5px;
	margin:3px;
	-moz-border-radius: 3px;
	border-top: 1px solid black;
}

.highlight:hover {
	background-color:red;
	color:white;
}

.selected {
	background-color:green;
	color:white;
}

.selected:hover {
	background-color:green;
}

a#clear_selected {
	border:2px solid black;
	background-color:yellow;
	padding:3px;
	color:black;
}

a#clear_selected:hover {
	border:2px solid white;
}

#result {
	float:left;
	width:49%;
	height:750px;
	background-color:#A6B35D;
	padding: 5px 5px 5px 5px;
	border:1px solid #7D8840;
	display:block;
	position:relative;
}

#keyletter {
	font-size: 70px;
	text-align: center;
	margin:10px;

}

.or {
	font-size: 30px;
}

#footer {
	border-top: 3px solid #554857;
	margin: 0px 0px 0px 0px;
	padding: 5px;
	clear:both;

}

/* Circle of Fifth Goodies */
#circle_of_fifths {
position:relative;
font-size:20px;
width:550px;
margin-left:auto;
margin-right:auto;
}



/* Large major pie */



.pie {
	position:absolute;
	width:500px;
	height:500px;
	clip:rect(0px,250px,500px,0px);
	-moz-border-radius:250px;
	-webkit-border-radius:250px;
	border-radius:250px;

}

.hold {
	position:absolute;
	width:500px;
	height:500px;
	clip:rect(0px,500px,500px,250px);

}


#C_Major {
-moz-transform:rotate(-15deg);
    
}
#C_Major .pie {
   color:red;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}
#D_Major {
  -moz-transform:rotate(45deg);
   -webkit-transform:rotate(45deg);
   -o-transform:rotate(45deg);
   transform:rotate(45deg);
}
#D_Major .pie {
   color:green;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}
#G_Major {
  -moz-transform:rotate(15deg);
   -webkit-transform:rotate(15deg);
   -o-transform:rotate(15deg);
   transform:rotate(15deg);
}
#G_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#A_Major {
  -moz-transform:rotate(75deg);
   -webkit-transform:rotate(75deg);
   -o-transform:rotate(75deg);
   transform:rotate(75deg);
}
#A_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#E_Major {
  -moz-transform:rotate(105deg);
   -webkit-transform:rotate(105deg);
   -o-transform:rotate(105deg);
   transform:rotate(105deg);
}
#E_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#B_Major {
  -moz-transform:rotate(135deg);
   -webkit-transform:rotate(135deg);
   -o-transform:rotate(135deg);
   transform:rotate(135deg);
}
#B_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#Fsharp_Major {
  -moz-transform:rotate(165deg);
   -webkit-transform:rotate(165deg);
   -o-transform:rotate(165deg);
   transform:rotate(165deg);
}
#Fsharp_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#Csharp_Major {
  -moz-transform:rotate(195deg);
   -webkit-transform:rotate(195deg);
   -o-transform:rotate(195deg);
   transform:rotate(195deg);
}
#Csharp_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#Ab_Major {
  -moz-transform:rotate(225deg);
   -webkit-transform:rotate(225deg);
   -o-transform:rotate(225deg);
   transform:rotate(225deg);
}
#Ab_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#Eb_Major {
  -moz-transform:rotate(255deg);
   -webkit-transform:rotate(255deg);
   -o-transform:rotate(255deg);
   transform:rotate(255deg);
}
#Eb_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#Bb_Major {
  -moz-transform:rotate(285deg);
   -webkit-transform:rotate(285deg);
   -o-transform:rotate(285deg);
   transform:rotate(285deg);
}
#Bb_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#F_Major {
  -moz-transform:rotate(315deg);
   -webkit-transform:rotate(315deg);
   -o-transform:rotate(315deg);
   transform:rotate(315deg);
}
#F_Major .pie {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

/* Smaller minor pie*/

#minor_pie {
position:absolute;
left:62px;
top:62px;
}

.pie_minor {
	position:absolute;
	width:375px;
	height:375px;
	clip:rect(0px,187.5px,375px,0px);
	-moz-border-radius:187.5px;
	-webkit-border-radius:187.5px;
	border-radius:187.5px;

}

.hold_minor {
	position:absolute;
	width:375px;
	height:375px;
	clip:rect(0px,375px,375px,187.5px);

}

#A_Minor {
	-moz-transform:rotate(-15deg);
    
}
#A_Minor .pie_minor {
   color:red;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}
#B_Minor {
  -moz-transform:rotate(45deg);
   -webkit-transform:rotate(45deg);
   -o-transform:rotate(45deg);
   transform:rotate(45deg);
}
#B_Minor .pie_minor {
   color:green;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}
#E_Minor {
  -moz-transform:rotate(15deg);
   -webkit-transform:rotate(15deg);
   -o-transform:rotate(15deg);
   transform:rotate(15deg);
}
#E_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#Fsharp_Minor {
  -moz-transform:rotate(75deg);
   -webkit-transform:rotate(75deg);
   -o-transform:rotate(75deg);
   transform:rotate(75deg);
}
#Fsharp_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#Csharp_Minor {
  -moz-transform:rotate(105deg);
   -webkit-transform:rotate(105deg);
   -o-transform:rotate(105deg);
   transform:rotate(105deg);
}
#Csharp_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#Ab_Minor {
  -moz-transform:rotate(135deg);
   -webkit-transform:rotate(135deg);
   -o-transform:rotate(135deg);
   transform:rotate(135deg);
}
#Ab_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#Eb_Minor {
  -moz-transform:rotate(165deg);
   -webkit-transform:rotate(165deg);
   -o-transform:rotate(165deg);
   transform:rotate(165deg);
}
#Eb_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#Bb_Minor {
  -moz-transform:rotate(195deg);
   -webkit-transform:rotate(195deg);
   -o-transform:rotate(195deg);
   transform:rotate(195deg);
}
#Bb_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#F_Minor {
  -moz-transform:rotate(225deg);
   -webkit-transform:rotate(225deg);
   -o-transform:rotate(225deg);
   transform:rotate(225deg);
}
#F_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#C_Minor {
  -moz-transform:rotate(255deg);
   -webkit-transform:rotate(255deg);
   -o-transform:rotate(255deg);
   transform:rotate(255deg);
}
#C_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}

#G_Minor {
  -moz-transform:rotate(285deg);
   -webkit-transform:rotate(285deg);
   -o-transform:rotate(285deg);
   transform:rotate(285deg);
}
#G_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:#EBDDE2;
}

#D_Minor {
  -moz-transform:rotate(315deg);
   -webkit-transform:rotate(315deg);
   -o-transform:rotate(315deg);
   transform:rotate(315deg);
}
#D_Minor .pie_minor {
   color:blue;
   -moz-transform:rotate(30deg);
   -webkit-transform:rotate(30deg);
   -o-transform:rotate(30deg);
   transform:rotate(30deg);
background-color:white;
}



/* Major labels */
#Cmaj {
position:absolute;
top:25px;
left:240px;
}

#Gmaj {
position:absolute;
top:50px;
left:350px;
}

#Dmaj {
position:absolute;
top:130px;
left:430px;
}

#Amaj {
position:absolute;
top:240px;
left:460px;
}

#Emaj {
position:absolute;
top:350px;
left:430px;
}

#Bmaj {
position:absolute;
top:430px;
left:353px;
}

#Fsharpmaj {
position:absolute;
top:455px;
left:243px;
}

#Csharpmaj {
position:absolute;
top:430px;
left:135px;
}

#Aflatmaj {
position:absolute;
top:350px;
left:52px;
}

#Eflatmaj {
position:absolute;
top:245px;
left:15px;
}

#Bflatmaj {
position:absolute;
top:135px;
left:45px;
}

#Fmaj {
position:absolute;
top:50px;
left:130px;
}

/* Minor labels */
#Cm {
position:absolute;
top:240px;
left:73px;
}

#Gm {
position:absolute;
top:160px;
left:95px;
}

#Dm {
position:absolute;
top:95px;
left:150px;
}

#Am {
position:absolute;
top:80px;
left:234px;
}

#Em {
position:absolute;
top:95px;
left:315px;
}

#Bm {
position:absolute;
top:160px;
left:370px;
}

#Fsharpm {
position:absolute;
top:240px;
left:385px;
}

#Csharpm {
position:absolute;
top:315px;
left:365px;
}

#Aflatm {
position:absolute;
top:380px;
left:315px;
}

#Eflatm {
position:absolute;
top:405px;
left:233px;
}

#Bflatm {
position:absolute;
top:380px;
left:150px;
}

#Fm {
position:absolute;
top:325px;
left:97px;
}

/* The selected slices */
.selected_slice {
background-color:green !important;
}

.selected_slice_minor {
background-color:#2DCD87 !important;
}
