 
body {
font-family:helvetica;
}
img {
border:medium none;
}
#wrapper {
margin:-8px 0 0 -8px;
position:relative;
width:100%;
}
a {
text-decoration:none;
}
#header {
background-color:#264A6F;
border:medium none;
margin:0;
padding:8px;
width:100%;
}
#header h1 {
color:#FFFFFF;
}
a#toggle_instr {
-moz-border-radius:8px 8px 8px 8px;
background-color:#264A6F;
border:2px solid #777777;
color:#FFFFFF;
margin:2px;
padding:3px 5px;
text-align:center;
width:80px;
}
a#toggle_instr:hover {
border-color:white;
border-width:2px;
}
#social {
position:absolute;
right:10px;
top:40px;
}
#instructions {
background-color:#A6B35D;
display:none;
line-height:22px;
padding:8px;
width:100%;
}
#enterchords {
background-color:#EEEEEE;
border:1px solid #DDDDDD;
float:left;
height:750px;
padding:5px;
width:49%;
}
#chord_selector td {
-moz-border-radius:3px 3px 3px 3px;
border-top:1px solid black;
cursor:pointer;
margin:3px;
padding:5px;
text-align:center;
width:80px;
}
.highlight:hover {
background-color:red;
color:white;
}
.selected {
background-color:green;
color:white;
}
.selected:hover {
background-color:green;
}
a#clear_selected {
-moz-border-radius:8px 8px 8px 8px;
background-color:#264A6F;
border:2px solid #FFFFFF;
color:#FFFFFF;
padding:3px;
}
a#clear_selected:hover {
border:2px solid #777777;
}
#result {
background-color:#FFFFFF;
display:block;
float:left;
height:750px;
padding:8px;
position:relative;
width:49%;
}
#keyletter {
font-size:70px;
margin:10px;
text-align:center;
}
.or {
font-size:30px;
}
#footer {
border-top:3px solid #DDDDDD;
clear:both;
margin:0;
padding:5px;
}
#footer .validations {
font-size:13px;
}
#footer .validations a {
color:#AAAAAA;
font-family:Helvetica;
font-size:0.8em;
padding:0 0.8em;
}
#circle_of_fifths {
font-size:20px;
margin-left:auto;
margin-right:auto;
position:relative;
width:550px;
}
.pie {
-moz-border-radius:250px 250px 250px 250px;
clip:rect(0px, 250px, 500px, 0px);
height:500px;
position:absolute;
width:500px;
}
.hold {
clip:rect(0px, 500px, 500px, 250px);
height:500px;
position:absolute;
width:500px;
}
#C_Major {
-moz-transform:rotate(-15deg);
}
#C_Major .pie {
-moz-transform:rotate(30deg);
background-color:white;
color:red;
}
#D_Major {
-moz-transform:rotate(45deg);
}
#D_Major .pie {
-moz-transform:rotate(30deg);
background-color:white;
color:green;
}
#G_Major {
-moz-transform:rotate(15deg);
}
#G_Major .pie {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#A_Major {
-moz-transform:rotate(75deg);
}
#A_Major .pie {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#E_Major {
-moz-transform:rotate(105deg);
}
#E_Major .pie {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#B_Major {
-moz-transform:rotate(135deg);
}
#B_Major .pie {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#Fsharp_Major {
-moz-transform:rotate(165deg);
}
#Fsharp_Major .pie {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#Csharp_Major {
-moz-transform:rotate(195deg);
}
#Csharp_Major .pie {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#Ab_Major {
-moz-transform:rotate(225deg);
}
#Ab_Major .pie {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#Eb_Major {
-moz-transform:rotate(255deg);
}
#Eb_Major .pie {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#Bb_Major {
-moz-transform:rotate(285deg);
}
#Bb_Major .pie {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#F_Major {
-moz-transform:rotate(315deg);
}
#F_Major .pie {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#minor_pie {
left:62px;
position:absolute;
top:62px;
}
.pie_minor {
-moz-border-radius:187.5px 187.5px 187.5px 187.5px;
clip:rect(0px, 187.5px, 375px, 0px);
height:375px;
position:absolute;
width:375px;
}
.hold_minor {
clip:rect(0px, 375px, 375px, 187.5px);
height:375px;
position:absolute;
width:375px;
}
#A_Minor {
-moz-transform:rotate(-15deg);
}
#A_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:red;
}
#B_Minor {
-moz-transform:rotate(45deg);
}
#B_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:green;
}
#E_Minor {
-moz-transform:rotate(15deg);
}
#E_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#Fsharp_Minor {
-moz-transform:rotate(75deg);
}
#Fsharp_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#Csharp_Minor {
-moz-transform:rotate(105deg);
}
#Csharp_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#Ab_Minor {
-moz-transform:rotate(135deg);
}
#Ab_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#Eb_Minor {
-moz-transform:rotate(165deg);
}
#Eb_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#Bb_Minor {
-moz-transform:rotate(195deg);
}
#Bb_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#F_Minor {
-moz-transform:rotate(225deg);
}
#F_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#C_Minor {
-moz-transform:rotate(255deg);
}
#C_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#G_Minor {
-moz-transform:rotate(285deg);
}
#G_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:#dddddd;
color:blue;
}
#D_Minor {
-moz-transform:rotate(315deg);
}
#D_Minor .pie_minor {
-moz-transform:rotate(30deg);
background-color:white;
color:blue;
}
#C_Major-label {
left:240px;
position:absolute;
top:25px;
}
#G_Major-label {
left:350px;
position:absolute;
top:50px;
}
#D_Major-label {
left:430px;
position:absolute;
top:130px;
}
#A_Major-label {
left:460px;
position:absolute;
top:240px;
}
#E_Major-label {
left:430px;
position:absolute;
top:350px;
}
#B_Major-label {
left:353px;
position:absolute;
top:430px;
}
#Fsharp_Major-label {
left:243px;
position:absolute;
top:455px;
}
#Csharp_Major-label {
left:135px;
position:absolute;
top:430px;
}
#Ab_Major-label {
left:52px;
position:absolute;
top:350px;
}
#Eb_Major-label {
left:15px;
position:absolute;
top:245px;
}
#Bb_Major-label {
left:45px;
position:absolute;
top:135px;
}
#F_Major-label {
left:130px;
position:absolute;
top:50px;
}
#C_Minor-label {
left:73px;
position:absolute;
top:240px;
}
#G_Minor-label {
left:95px;
position:absolute;
top:160px;
}
#D_Minor-label {
left:150px;
position:absolute;
top:95px;
}
#A_Minor-label {
left:234px;
position:absolute;
top:80px;
}
#E_Minor-label {
left:315px;
position:absolute;
top:95px;
}
#B_Minor-label {
left:370px;
position:absolute;
top:160px;
}
#Fsharp_Minor-label {
left:385px;
position:absolute;
top:240px;
}
#Csharp_Minor-label {
left:365px;
position:absolute;
top:315px;
}
#Ab_Minor-label {
left:315px;
position:absolute;
top:380px;
}
#Eb_Minor-label {
left:233px;
position:absolute;
top:405px;
}
#Bb_Minor-label {
left:150px;
position:absolute;
top:380px;
}
#F_Minor-label {
left:97px;
position:absolute;
top:325px;
}
.selected_slice {
background-color:green !important;
}
.selected_slice_minor {
background-color:#2DCD87 !important;
}
.selected_key_text {
color:white;
}
