@font-face {
	font-family: Zitti;
	src: url('fonts/ZITTI___ 2.TTF');
}


body {
	font-family:helvetica;
}

img {
	border:none;
}

#wrapper {
	position:relative;
	width:100%;
	margin: -8px 0px 0px -8px;
}

a {
	text-decoration:none;
	color:#264a6f;
}
a:hover {
	color:#888888;
}

#header {
	width:100%;
	height: 60px;
	padding:8px;
	margin: 0px 0px 0px 0px;
	border: none;
}

#header h1 {
	color:green;
	font-family: Zitti;
	font-size:65px;
	margin:0px 0px 0px 0px;
}
h3 {
	color:#264a6f;
}

#toggle_instr {

}

#toggle_instr a {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#264A6F;
	border:2px solid #777777;
	color:#FFFFFF;
	line-height:2;
	margin:2px;
	padding:3px 5px;
	text-align:center;
	width:80px;
}

a#toggle_instr:hover {
	border-color:#EEEEEE;
	border-width:2px;
}

#social {
	position:absolute;
	top:40px;
	right:10px;
}

#instructions {
	background-color:#A6BCCD;
	display:none;
	line-height:22px;
	padding:8px;
	width:100%;
}

#enterchords {
	background-color:#FFFFFF;
	float:left;
	height:830px;
	padding:0px;
	margin-left:10px;
	width:48%;
}
.odd td {
	background-color: #eee;
}
#chord_selector td {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border:1px solid #999999;
	cursor:pointer;
	font-size:14px;
	line-height:23px;
	margin:0;
	padding:4px;
	text-align:center;
	width:90px;
}

.highlight:hover {
	background-color:#A6BCCD;
	color:#111111;
}

.selected {
	background-color:#CAE1A5 !important;
	color:#264A6F;
}

.selected:hover {
	background-color:#BAA7CD;
}

a#clear_selected {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background-color:#FFFFFF;
	border:1px solid #777777;
	color:#111111;
	padding:5px;
	font-size:1em;
	text-align:center;
	line-height:1;
	display:block;
	width:606px;
}

a#clear_selected:hover {
	background-color:#BAA7CD;
	border:1px solid #777777;
	color:#111111;
}

#result {
	background-color:#FFFFFF;
	display:block;
	float:left;
	height:750px;
	padding:5px;
	position:relative;
	width:49%;
}

#keyletter {
	font-size: 70px;
	text-align: center;
	margin:10px;

}

.or {
	font-size: 30px;
}

#footer {
	clear:both;
	margin:10px;
	padding:5px;
	width:89%;
}
#footer .validations {
	font-size: 13px;
}
#footer .validations a {
	color: #aaa;
	font-family: Helvetica;
	font-size: 0.8em;
	padding: 0 0.8em;
}

/* Circle of Fifth Goodies */
#circle_of_fifths {
	position:relative;
	font-size:20px;
	width:550px;
	margin-left:auto;
	margin-right:auto;
}

/* Large major pie */
.pie {
	position:absolute;
	width:500px;
	height:500px;
	clip:rect(0px,250px,500px,0px);
	-moz-border-radius:250px;
	-webkit-border-radius:250px;
	border-radius:250px;

}

.hold {
	position:absolute;
	width:500px;
	height:500px;
	clip:rect(0px,500px,500px,250px);

}


#C_Major {
	-moz-transform:rotate(-15deg);
	-webkit-transform:rotate(-15deg);

}
#C_Major .pie {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}
#D_Major {
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
#D_Major .pie {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}
#G_Major {
	-moz-transform:rotate(15deg);
	-webkit-transform:rotate(15deg);
	-o-transform:rotate(15deg);
	transform:rotate(15deg);
}
#G_Major .pie {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);

}

#A_Major {
	-moz-transform:rotate(75deg);
	-webkit-transform:rotate(75deg);
	-o-transform:rotate(75deg);
	transform:rotate(75deg);
}
#A_Major .pie {
	color:#111111;
	background-color:#ddd;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#E_Major {
	-moz-transform:rotate(105deg);
	-webkit-transform:rotate(105deg);
	-o-transform:rotate(105deg);
	transform:rotate(105deg);
}
#E_Major .pie {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#B_Major {
	-moz-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	transform:rotate(135deg);
}
#B_Major .pie {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Fsharp_Major {
	-moz-transform:rotate(165deg);
	-webkit-transform:rotate(165deg);
	-o-transform:rotate(165deg);
	transform:rotate(165deg);
}
#Fsharp_Major .pie {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Csharp_Major {
	-moz-transform:rotate(195deg);
	-webkit-transform:rotate(195deg);
	-o-transform:rotate(195deg);
	transform:rotate(195deg);
}
#Csharp_Major .pie {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Ab_Major {
	-moz-transform:rotate(225deg);
	-webkit-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	transform:rotate(225deg);
}
#Ab_Major .pie {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Eb_Major {
	-moz-transform:rotate(255deg);
	-webkit-transform:rotate(255deg);
	-o-transform:rotate(255deg);
	transform:rotate(255deg);
}
#Eb_Major .pie {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Bb_Major {
	-moz-transform:rotate(285deg);
	-webkit-transform:rotate(285deg);
	-o-transform:rotate(285deg);
	transform:rotate(285deg);
}
#Bb_Major .pie {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#F_Major {
	-moz-transform:rotate(315deg);
	-webkit-transform:rotate(315deg);
	-o-transform:rotate(315deg);
	transform:rotate(315deg);
}
#F_Major .pie {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

/* Smaller minor pie*/

#minor_pie {
	position:absolute;
	left:62px;
	top:62px;
}

.pie_minor {
	position:absolute;
	width:375px;
	height:375px;
	clip:rect(0px,187.5px,375px,0px);
	-moz-border-radius:187.5px;
	-webkit-border-radius:187.5px;
	border-radius:187.5px;

}

.hold_minor {
	position:absolute;
	width:375px;
	height:375px;
	clip:rect(0px,375px,375px,187.5px);

}

#A_Minor {
	-moz-transform:rotate(-15deg);
	-webkit-transform:rotate(-15deg);
}
#A_Minor .pie_minor {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}
#B_Minor {
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
#B_Minor .pie_minor {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}
#E_Minor {
	-moz-transform:rotate(15deg);
	-webkit-transform:rotate(15deg);
	-o-transform:rotate(15deg);
	transform:rotate(15deg);
}
#E_Minor .pie_minor {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Fsharp_Minor {
	-moz-transform:rotate(75deg);
	-webkit-transform:rotate(75deg);
	-o-transform:rotate(75deg);
	transform:rotate(75deg);
}
#Fsharp_Minor .pie_minor {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Csharp_Minor {
	-moz-transform:rotate(105deg);
	-webkit-transform:rotate(105deg);
	-o-transform:rotate(105deg);
	transform:rotate(105deg);
}
#Csharp_Minor .pie_minor {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Ab_Minor {
	-moz-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	transform:rotate(135deg);
}
#Ab_Minor .pie_minor {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Eb_Minor {
	-moz-transform:rotate(165deg);
	-webkit-transform:rotate(165deg);
	-o-transform:rotate(165deg);
	transform:rotate(165deg);
}
#Eb_Minor .pie_minor {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#Bb_Minor {
	-moz-transform:rotate(195deg);
	-webkit-transform:rotate(195deg);
	-o-transform:rotate(195deg);
	transform:rotate(195deg);
}
#Bb_Minor .pie_minor {
	color:#111111;
	background-color:#EEEEEE;	
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#F_Minor {
	-moz-transform:rotate(225deg);
	-webkit-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	transform:rotate(225deg);
}
#F_Minor .pie_minor {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#C_Minor {
	-moz-transform:rotate(255deg);
	-webkit-transform:rotate(255deg);
	-o-transform:rotate(255deg);
	transform:rotate(255deg);
}
#C_Minor .pie_minor {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#G_Minor {
	-moz-transform:rotate(285deg);
	-webkit-transform:rotate(285deg);
	-o-transform:rotate(285deg);
	transform:rotate(285deg);
}
#G_Minor .pie_minor {
	color:#111111;
	background-color:#DDDDDD;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

#D_Minor {
	-moz-transform:rotate(315deg);
	-webkit-transform:rotate(315deg);
	-o-transform:rotate(315deg);
	transform:rotate(315deg);
}
#D_Minor .pie_minor {
	color:#111111;
	background-color:#EEEEEE;
	-moz-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	transform:rotate(30deg);
}

/* Major labels */
#C_Major-label {
	position:absolute;
	top:25px;
	left:240px;
}

#G_Major-label {
	position:absolute;
	top:50px;
	left:350px;
}

#D_Major-label {
	position:absolute;
	top:130px;
	left:430px;
}

#A_Major-label {
	position:absolute;
	top:240px;
	left:460px;
}

#E_Major-label {
	position:absolute;
	top:350px;
	left:430px;
}

#B_Major-label {
	position:absolute;
	top:430px;
	left:353px;
}

#Fsharp_Major-label {
	position:absolute;
	top:455px;
	left:243px;
}

#Csharp_Major-label {
	position:absolute;
	top:430px;
	left:135px;
}

#Ab_Major-label {
	position:absolute;
	top:350px;
	left:52px;
}

#Eb_Major-label {
	position:absolute;
	top:245px;
	left:15px;
}

#Bb_Major-label {
	position:absolute;
	top:135px;
	left:45px;
}

#F_Major-label {
	position:absolute;
	top:50px;
	left:130px;
}

/* Minor labels */
#C_Minor-label {
	position:absolute;
	top:240px;
	left:73px;
}

#G_Minor-label {
	position:absolute;
	top:160px;
	left:95px;
}

#D_Minor-label {
	position:absolute;
	top:95px;
	left:150px;
}

#A_Minor-label {
	position:absolute;
	top:80px;
	left:234px;
}

#E_Minor-label {
	position:absolute;
	top:95px;
	left:315px;
}

#B_Minor-label {
	position:absolute;
	top:160px;
	left:370px;
}

#Fsharp_Minor-label {
	position:absolute;
	top:240px;
	left:385px;
}

#Csharp_Minor-label {
	position:absolute;
	top:315px;
	left:365px;
}

#Ab_Minor-label {
	position:absolute;
	top:380px;
	left:315px;
}

#Eb_Minor-label {
	position:absolute;
	top:405px;
	left:233px;
}

#Bb_Minor-label {
	position:absolute;
	top:380px;
	left:150px;
}

#F_Minor-label {
	position:absolute;
	top:325px;
	left:97px;
}

#key_labels div {
	cursor:pointer;
	padding:5px;
}

#key_labels div:hover {
	background-color:pink;
	padding:5px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	}

/* The selected slices */
.selected_slice {
	background-color:#CAE1A5 !important;
}

.selected_slice_minor {
	background-color:#A6BCCD !important;
}

.selected_key_text {
	color:black;
}

/* jTab stuff */

.jtab {
  height:218px;
}
.jtab.chordonly {
  height:118px;
}
.jtab.tabonly {
  height:100px;
}

/* jQuery tools */

.tooltip {
	display:none;
	background:transparent url(/tools/img/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;	
}